<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">I am currently learning Data Science and have worked on various projects involving data analysis, machine learning, and data visualization. With the skills I’ve developed, I am committed to providing data-driven solutions that help businesses achieve their goals. This portfolio showcases my expertise in data processing and my ability to deliver actionable insights for better decision-making.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
