<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa-brands fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:rivaldolie@gmail.com">
            <i class="fa-solid fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>rivaldolie@gmail.com</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/valdo28">
            <i class="fa-brands fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>valdo28</p>
            </a>
        </div>

    </div>
</section>
